<div>
    <div class="row">
        <div class="col-md-1"><img src="img/pois/localComercialImg.jpg" height="60px;" width="60px;"></div>
        <div class="col-md-4">
            <div class="row"><h3>Direccion: {{localCrtl.poi.direccion}}</h3></div>
            <div class="row"><h3>Nombre: {{localCrtl.poi.nombre}}</h3></div>
            <div class="row"><h3>Rubro: {{localCrtl.poi.rubro}}</h3></div>
        </div>
    </div>

    <div>
        <h3>Favorito </h3>
        <fieldset class="form-group">
            <input type="checkbox" id="checkbox1" ng-checked="localCrtl.favoritiar" ng-click="localCrtl.enviarFavorito();">
            <label for="checkbox1"></label>
        </fieldset>
    </div>

    <opiniones-pois></opiniones-pois>

    <div>
        <a class="btn btn-primary" ui-sref="listadoPois">
            Go Back
        </a>
    </div>
</div>